.search-jobs {
    background-image: url("./img//backgroundImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    border-radius: 8px;
}
.form-input {
    padding: 1rem;
    text-align: center;
}
